{%- extends "base.html" %}

{%- block seo %}
  {{- super() }}

  {%- if config.title %}
    {%- set title = config.title %}
  {%- else %}
    {%- set title = "" %}
  {%- endif %}

  {%- if config.extra.title_addition and title %}
    {%- set title_addition = title_separator ~ config.extra.title_addition %}
  {%- elif config.extra.title_addition %}
    {%- set title_addition = config.extra.title_addition %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}

    <div>
      <section>
        <h3>What is This Page?</h3>
        <p>Everything below is a small repository of projects I am particularly proud of.
          Clicking the "...more" or the bolded heading will take you to that project's page.
          You might also be interested in my <a href="/resume">resume</a>.</p>
      </section>
      {%- for page in paginator.pages %}
      <article>
        {{- macros::title_index(page=page, config=config) }}
        {%- if config.extra.meta_index.position %}
        {%- if config.extra.meta_index.position == "top" or config.extra.meta_index.position == "both" %}
        {{- macros::meta_index(page=page, config=config) }}
        {%- endif %}{%- endif %}
        <div class="sum">
        <p>
        {%- if page.summary %}
          {{ page.summary | markdown(inline=true) | safe }}
        {%- elif page.description %}
          {{ page.description | safe }}
        {%- elif page.content %}
          {{ page.content | striptags | truncate(length=150) | safe }}
        {%- elif page.extra.static_thumbnail %}
        {%- endif %}
          <a href="{{ page.permalink | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">...more</a>
        </div>
        {%- if config.extra.meta_index.position %}
        {%- if config.extra.meta_index.position == "bottom" or config.extra.meta_index.position == "both" %}
        {{- macros::meta_index(page=page, config=config) }}
        {%- endif %}
        {%- endif %}
      </article>
    {%- endfor %}
    {{- macros::pagination(paginator=paginator, config=config) }}
    </div>
  {%- set section_item = get_section(path="_index.md") %}
  <div class="toc">
    <div>
      <h2><a href="/Vision">Vision Statement and Community Service</a></h2>
    </div>
    <div class="toc-sticky">
      <h1><span class="s75">Ethan Ansburg</span></h1>
      <p style="font-size: 2.2vh;">I am a second year computer science student at the University of Colorado at Boulder with interests in:</p>
      <ul style="font-size: 2.2vh;">
        <li>Penetration Testing</li>
        <li>Programming Language Development</li>
        <li>Astronomy</li>
        <li>...and Rocketry</li>
      </ul>
    </div>

    
  </div>
{%- endblock content %}
