{% extends "base.html" %}

{% block content %}
    <h1 class="title">Welcome!</h1>
    <h2>Who am I?</h2>
    <p>Hi! My name is Ethan Ansburg. I am a Computer Science student at the University of Colorado at Boulder.</p>
    <h2>Projects</h2>
    <a href="nimbuslang"><h3>Nimbus</h3></a>
    <a href="json-expander"><h3>JSON Expander</h3></a>
    <h2>Interests</h2>
    <a href="astro-photo.html"><h3>Astrophotography</h3></a>
    <h2>Where is the rest of this website</h2>
    <p>In progress! Much like all of my projects, it is unfinished.</p>
{% endblock content %}