{% extends "base.html" %}

{%- block content %}
    <section>
        <div>
            <h1>Vision Statement</h1>
            <p>I have always been a <b>learner</b>. From teaching myself programming in the 6th grade to <b>learning</b> the stars of the night sky now, I have sought out <b>knowledge</b> where ever it took me.</p>
            <p>I will continue my <b>learning</b> as a cyber security expert. Cyber Security will force me to keep <b>learning</b> in a way that few other jobs can. Cyber security will allow me to apply my <b>learning</b> to any field I wish to work in.</p>
            <p>Cyber Security is my pathway to space, because cyber security experts are needed everywhere. I hope to be the first cyber security expert in <b>space</b>.</p>
        </div>
        <div style="padding-top: 2em;">
            <h1>Community Service Reaction & Photo</h1>
            <ol>
                <li>
                    <h3>What was organization/group you supported, date and location of your service, contact information (name, email, phone number) for the organizer.</h3>
                    <p>I supported the space minor at CU by my membership in Science, Technology, and Astronomy Recruits (STARs). The event’s organizer would be Cole Alexander. I helped run a space minor star party at the Sommers–Bausch Observatory on Sunday, April 9th.</p>
                </li>
                <li>
                    <h3>Give a brief description of your community service activity and how it went. Why did you choose this activity? Who did you impact? Include any comments you received during or after the activity from the participants.</h3>
                    <p>I helped run a telescope during a “star party”. Each star party we open the sky up to people who may not have the tools and time to stargaze. During last fall’s star party over 100 people came to see us! I chose to perform my community service at a star party because I believe that the stars belong to everyone, and so few people have the knowledge and equipment to explore them. I love being able to give that experience to my fellow students. 
                        I impacted (at this star party) ~30 people by showing them the sky. Of particular note, several people have never seen nebulae with their own eyes, so I was able to show them the Orion nebula.</p>
                </li>	
                <li>
                    <h3>How did you feel before and after the activity? Did you make any connections? Do you have plans to do future community service? </h3>
                    <p>I felt pretty good before the experience because I was going to be observing that night. I love to look through telescopes, so being able to do it with others is just a cherry on top! I plan to continue to assist with star parties, and through my membership in STARs, support outreach to anyone who will listen about astronomy and astronomical topics.</p>
                </li>
            </ol>

            <img src="imgs/cs.jpg" width="500px" height="500px" alt="Image of me and Charlie (another star) at the event"/>
        </div>
    </section>
    {%- endblock %}